Repository akai-org/planer-podrozy, pull requests merged in 2022-12, with the labels that each got.

#20 Konfiguracja dockera
  README.md
  api/.gitignore
  api/.gitkeep
  api/requirements/.gitkeep
  api/requirements/docker.txt
  api/src/config.py
  api/src/database.py
  api/src/main.py
  deployment/Dockerfile.backend
  deployment/Dockerfile.frontend
  deployment/backend.dev.env
  deployment/database.dev.env
  deployment/frontend.dev.env
  docker-compose.yml
  ui/src/App.jsx
  ui/vite.config.js
Labels: enhancement, frontend, backend

#18 Github actions backend
  .github/workflows/main.yml
Labels: backend

#17 ESlint, prettier, stylelint configuration
  ui/.eslintrc.json
  ui/.prettierrc.json
  ui/.stylelintrc.json
  ui/package-lock.json
  ui/package.json
  ui/src/App.jsx
  ui/vite.config.js
Labels: frontend

#28 Github actions frontend
  .github/workflows/frontend-lint.yml
Labels: setup, frontend
