Repository akai-org/planer-podrozy, pull requests merged in 2023-03, with the labels that each got.

#43 icon component
  ui/package-lock.json
  ui/package.json
  ui/src/components/icon/Icon.jsx
  ui/src/components/icon/Icon.module.scss
Labels: frontend, components

#44 buttonIcon component
  ui/src/components/buttonIcon/ButtonIcon.jsx
  ui/src/components/buttonIcon/ButtonIcon.module.scss
Labels: components

#42 added Button component
  ui/package.json
  ui/src/components/Button/Button.jsx
  ui/src/components/Button/Button.module.scss
Labels: frontend, components

#46 storybook fix 2
  ui/.nvmrc
  ui/.storybook/main.cjs
  ui/.storybook/preview-head.html
  ui/.storybook/preview.cjs
  ui/package-lock.json
  ui/package.json
Labels: design

#39 Add map component
  deployment/Dockerfile.frontend
  ui/package-lock.json
  ui/package.json
  ui/src/components/Map/Map.jsx
  ui/src/components/Map/Map.module.scss
  ui/src/index.jsx
Labels: frontend, components

#48 List item
  ui/src/App.jsx
  ui/src/assets/styles/App.module.scss
  ui/src/assets/styles/abstracts/_variables.scss
  ui/src/components/ButtonIcon/ButtonIcon.jsx
  ui/src/components/ButtonIcon/ButtonIcon.module.scss
  ui/src/components/Icon/Icon.jsx
  ui/src/components/Icon/Icon.module.scss
  ui/src/components/ListItem/ListItem.jsx
  ui/src/components/ListItem/ListItem.module.scss
Labels: frontend, components
